@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@800&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.banner-bg{
    display: flex;
    justify-content: center;
    background-image: url(https://i.ibb.co/MPh3yhm/7.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    height: 100vh;
}

.banner-font {
    font-family: 'League Spartan', sans-serif;
}

.text-font {
    font-family: 'Montserrat', sans-serif;
}

.typing::before {
    content: "Tanvirul Islam";
    animation: typing 3s linear infinite;
}

@keyframes typing {
    0% {
        content: "|";
    }

    7% {
        content: "Ta|";
    }

    14% {
        content: "Tan|";
    }

    21% {
        content: "Tanv|";
    }

    28% {
        content: "Tanvi|";
    }

    35% {
        content: "Tanvir|";
    }

    42% {
        content: "Tanviru|";
    }

    49% {
        content: "Tanvirul|";
    }

    56% {
        content: "Tanvirul |";
    }

    63% {
        content: "Tanvirul I|";
    }

    70% {
        content: "Tanvirul Is|";
    }

    77% {
        content: "Tanvirul Isl|";
    }

    84% {
        content: "Tanvirul Isla|";
    }

    91% {
        content: "Tanvirul Islam|";
    }

    92% {
        content: "Tanvirul Isla|";
    }

    93% {
        content: "Tanvirul Isl|";
    }

    94% {
        content: "Tanvirul Is|";
    }

    95% {
        content: "Tanvirul I|";
    }

    96% {
        content: "Tanvirul|";
    }

    97% {
        content: "Tanvir|";
    }

    98% {
        content: "Tanv|";
    }

    100% {
        content: "|";
    }
}