@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@800&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@500&display=swap");

.banner-img {
  clip-path: polygon(0 0, 100% 0%, 69% 100%, 0% 100%);
  background-color: rgb(255, 255, 255);
  height: 100vh;
}
.banner-right-img {
  clip-path: polygon(33% 0, 100% 0%, 100% 100%, 0% 100%);
  background-color: rgb(255, 255, 255);
  height: 100vh;
}
.dev-text {
  /* font-size: 220px; */
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  text-align: center;
  line-height: 1;
}

.banner-font2 {
  font-family: "Dancing Script", cursive;
}

.banner-font {
  font-family: "League Spartan", sans-serif;
}

.text-font {
  font-family: "Montserrat", sans-serif;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.banner {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.banner .content {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  padding-top: 150px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-blend-mode: darken;
  width: 100vw;
  height: 100vh;
}

.resumeBtn {
  animation-name: resume;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes resume {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.arrowBtn {
  animation-name: arrow;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes arrow {
  0% {
    transform: translate(0, -5px);
  }
  50% {
    transform: translate(0, 5px);
  }
  100% {
    transform: translate(0, -5px);
  }
}

.scrollIndicator {
  /* width: 35px;
  height: 60px; */
  background-color: white;
  color: black;
}

.scrollIndicator > p {
  font-weight: 300;
  font-size: 20px;
}

.scrollIndicatorCont {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-50%, -50%);
}

@media (max-width: 640px) {
  .banner-img {
    clip-path: polygon(0 0, 100% 0%, 100% 40%, 0% 95%);
    background-color: rgb(14 165 233);
    height: 100vh;
  }
  .banner-right-img {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    background-color: transparent;
    background-image: none;
    height: fit-content;
  }
  .scrollIndicatorCont {
    top: 65%;
  }
}
